$header-padding: 50px;
$background-color-white: #fff;
$header-logo-size: 40px;
$nav-link-color: #060b35;
$nav-link-blue: #00acdc;
$card-border-color: #f3f3f3;
$card-name-color: #060b35;
$card-name-color-hover: #34568b;
$card-code-color: #616070;
